-server
-showversion
-Xmx4g
-Xms4g
-XX:NewSize=2560m
-XX:MaxNewSize=2560m
-XX:+UseParNewGC
-XX:+UseConcMarkSweepGC
-Xloggc:gc.log

-Duser.timezone=UTC
-Dfile.encoding=UTF-8
-Djava.io.tmpdir=/mnt/tmp
-Dlog4j.configuration=file:/app/conf/log4j.xml

-XX:+PrintGCDetails
-XX:+PrintGCDateStamps
-XX:+PrintGCApplicationStoppedTime
-XX:+PrintGCApplicationConcurrentTime

-XX:+HeapDumpOnOutOfMemoryError
